<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.EcoTrack">


        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.EcoTrack.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity 
            android:name=".ui.auth.AuthActivity" 
            android:exported="false"
            android:theme="@style/Theme.EcoTrack" />
        <activity 
            android:name=".ui.main.MainActivity" 
            android:exported="false"
            android:theme="@style/Theme.EcoTrack" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".LeaderboardActivity" android:exported="false" />
        <activity android:name=".RewardsActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />

        <activity android:name=".DatabaseManagerActivity" android:exported="false" />
        
        <!-- Firebase Cloud Messaging Service -->
        <service
            android:name=".services.EcoTrackMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        
        <!-- Default notification channel metadata -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="ecotrack_notifications" />
        
        <!-- Default notification icon -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_eco_leaf" />
        
        <!-- Default notification color -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/eco_green" />
    </application>

</manifest>